
@import "../less/less/flat-ui";

.tokenimage {
  max-width: 500px;
  height: auto;
}

ul.chatList {
  list-style: none;
}

@media (max-width: 767px) {


  .tokenimage {
    max-width: 200px;
    height: auto;
  }
}
