@(tokenForm: Form[String])(implicit flash: Flash, request: Request[AnyContent])

    @import helper._

    @main("Create a new token", "createToken") {
        <div class="page-header" />
        <div class="row">
            <div class="col-lg-12">
                <h1>Name your token...</h1>

                <p>Every token needs a name. Even the one you are about to create.</p>

                @form(routes.Application.createToken) {
                    <div class="input-group">

                        @inputText(tokenForm("name"), 'class -> "form-control")
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" value="Create Token!">create new token!</button>
                        </span>
                    </div>
                }


            </div>
        </div>


    }