@(user: User)(implicit flash: Flash, request: Request[AnyContent])
@import java.text.SimpleDateFormat
@import de.bripkens.gravatar.DefaultImage
@import de.bripkens.gravatar.Rating
@import de.bripkens.gravatar.Gravatar


@main("Welcome to tok.la", "home") {

    <div class="page-header"></div>

    <div class="jumbotron hide-on-phone">
        <h1>Welcome!</h1>
    </div>
    <div class="row hide-on-phone">
        <div class="col-md-12">


            <div class="panel panel-primary">
                <div class="panel-heading">Using tok.la is super easy. If you are new, here is how it's done:
                </div>
                <div class="panel-body">
                    <p><span class="fui-plus"> Start </span> with creating a token by clicking the link in the menu above.</p>
                    <p><span class="fui-new"> Name it. </span> Any name you like is great. It should be descriptive for the resource you want to manage with the token.</p>
                    <p><span class="fui-mail"> Share the link. </span> Your coworkers need to know the token's url. Send it to them.</p>
                    <p><span class="fui-check"> That's it!</span></p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">My tok.la!</div>
                <div class="panel-body">
                    You are logged it as @request.session.get("username").getOrElse(""). Awesome!
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Token overview</div>
                <div class="panel-body">
                    <ul class="nav nav-list">

                    @if(user.associatedTokens.size == 0) {
                        <li>No tokens remembered yet.</li>
                    }
                    @for(token <- user.associatedTokens) {
                    <li>
                        <a href="@routes.Application.showToken(token.id)">
                            <div class="tokenOverviewImage">
                                <img src="@token.picurl" />
                            </div>

                            @token.name, claimed by
                            @if(token.claimedBy.isEmpty) {
                            nobody
                            } else {
                            @token.claimedBy since @{new SimpleDateFormat().format(token.claimTime)}
                            }
                        </a>
                    </li>
                    }
                    </ul>
                </div>
            </div>

        </div>



    </div>

}