@(message: String)(implicit flash: Flash, request: Request[AnyContent])

@main("Welcome to tok.la", "home") {

    <div class="page-header" />

    <div class="jumbotron">

        <h1>Manage a shared resource between multiple parties?</h1>


        <p>
            Then this is for you!
            It's one simple tool that helps you organizing.</p>

        <p>
            <a class="btn btn-primary btn-lg" href="@routes.Login.login("/")">Log in</a>
            <a class="btn btn-primary btn-lg" href="@routes.Application.createTokenForm">Create a token</a>
        </p>

    </div>



    <div>

    </div>
}
