<script type="text/javascript">

    angular.module('token').directive('preferencesDialogButton', function () {
        return {
            restrict: 'E',
            transclude: true,
            replace: true,

            templateUrl: 'mobileTokenPreferences.html',

            compile: function (tElement, attrs, transclude) {
                return function ($scope, element, attrs) {

                    attrs.$observe('preferencesGetUrl', function (preferencesGetUrl) {
                        attrs.$observe('preferencesSetUrl', function (preferencesSetUrl) {
                            $scope.preferencesSetUrl = preferencesSetUrl;
                            $scope.preferencesGetUrl = preferencesGetUrl;


                        });
                    });


                    transclude($scope, function (clone) {
                        tElement.append(clone);

                        element.on('click', function (event) {

                            for (var i = 0; i < clone.length; i++) {

                                if (event.target == clone[i]) {

                                    $scope.show($scope.preferencesGetUrl);
                                }
                            }
                        });
                    });
                };
            },

            controller: function ($scope, $http, $element) {

                $scope.preferencesSetUrl = "";
                $scope.preferencesCopy = {}

                $scope.save = function () {
                    $http.post($scope.preferencesSetUrl, $scope.preferences);
                    $scope.hide();
                };


                $scope.cancel = function () {
                    $scope.preferences = $scope.preferencesCopy;
                    $scope.hide();
                };


                $scope.addUser = function () {
                    $scope.preferences.users.push({"id" : $scope.newUser, "added" : true });
                    $scope.newUser = "";
                }
                $scope.addTeam = function () {
                    $scope.preferences.teams.push({"name" : $scope.newTeam, "added" : true });
                    $scope.newTeam = "";
                }

                $scope.teamExists = function (teamName) {
                    var ret = false;
                    $scope.preferences.teams.forEach( function(team) {
                        if (teamName == team.name && ! team.removed) {
                            ret = true;
                        }
                    });

                    return ret;
                }

                $scope.teamExistsFilter = function () {
                    return function(team) {
                        return $scope.teamExists(team.name);
                    }
                }

                $scope.show = function (url) {
                    $scope.load(url);
                    $scope.showDialog = 1;
                    $scope.preferencesCopy = angular.copy($scope.preferences);
                }
                $scope.hide = function () {
                    $scope.showDialog = 0;
                }

                $scope.load = function (url) {
//alert("prefGetUrl: " + prefGetUrl);

                    $http.get(url).then(function (preferencesResponse) {
                        $scope.preferences = preferencesResponse.data.preferences;
                    });
                }

                $scope.showDialog = 0;
                $scope.foo = "";


            }

        };
    });
</script>

<script type="text/ng-template" id="mobileTokenPreferences.html">
    <li>



    <div class="static-modal-backdrop" ng-show="showDialog">
        <div class="modal" id="setTokenPictureModal" style="display:block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"
                                ng-click="cancel()"></button>
                        <h4 class="modal-title">Configure token</h4>
                    </div>
                    <div class="modal-body" id="tokenPreferencesTabView" ng-init="tab='picture'">
                        <ul class="nav nav-tabs nav-append-content">
                            <li ng-class="{active: tab=='picture'}"><a href="#picture" ng-click="tab='picture'">Picture</a></li>
                            <li ng-class="{active: tab=='users'}"><a href="#users" ng-click="tab='users'">Users</a></li>
                            <li ng-class="{active: tab=='teams'}"><a href="#teams" ng-click="tab='teams'">Teams</a></li>
                            <li ng-class="{active: tab=='settings'}"><a href="#settings" ng-click="tab='settings'">Settings</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane" ng-class="{active: tab=='picture'}">

                                <p>
                                    Set a token picture
                                    <br>
                                    <span class="small">Enter an URL of a picture.</span>
                                </p>

                                <form>
                                    <input type="text" ng-model="preferences.picurl" class="form-control"
                                           id="picurltext"/>
                                </form>
                            </div>
                            <div class="tab-pane" ng-class="{active: tab=='settings'}">

                            </div>
                            <div class="tab-pane" ng-class="{active: tab=='users'}">

                                <ul class="nav nav-list">
                                    <li>
                                        <div ng-hide="addUserDialog" ng-click="addUserDialog=true">
                                            <div class="row">
                                                <div class="col-xs-11">add user</div>
                                                <div class="col-xs-1">
                                                    <span class="fui-plus"></span>
                                                </div>
                                            </div>


                                        </div>
                                        <div ng-show="addUserDialog">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="input-group">


                                                            <input class="form-control" ng-model="newUser" type="email"
                                                                   placeholder="user email">

                                                            <div class="input-group-btn">
                                                                <button ng-click="addUserDialog=false;"
                                                                        class="fui-cross btn btn-default"></button>
                                                                <button ng-click="addUser(); addUserDialog=false;"
                                                                        class="fui-plus btn btn-default" ng-disabled="!newUser"></button>
                                                            </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-repeat="user in preferences.users | filter:{removed:'!'+true}">
                                        <div class="row">
                                            <div class="col-xs-7">{{user.id}}</div>
                                            <div class="col-xs-5">
                                                <div class="btn-group pull-right">
                                                    <button class="btn btn-sm">{{(user.team != undefined && user.team.name != undefined && teamExists(user.team.name)) | iif : user.team.name : "no team"}}</button>
                                                    <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                                                    <ul class="dropdown-menu dropdown-inverse">
                                                        <li>
                                                            <a ng-click="user.removed=true">
                                                                <span class="fui-cross-inverted"></span>
                                                                remove user
                                                            </a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li><a ng-click="user.team = { 'name': undefined, 'new': true }">no team</a></li>
                                                        <li ng-repeat="team in preferences.teams | filter : teamExistsFilter()"><a ng-click="user.team = { 'name':  team.name, 'new': true }">{{team.name}}</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-1">

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" ng-class="{active: tab=='teams'}">
                                <ul class="nav nav-list">
                                    <li>
                                        <div ng-hide="addTeamDialog" ng-click="addTeamDialog=true">
                                            <div class="row">
                                                <div class="col-xs-11">add team</div>
                                                <div class="col-xs-1">
                                                    <span class="fui-plus"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-show="addTeamDialog">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="input-group">


                                                        <input class="form-control" ng-model="newTeam" type="text"
                                                               placeholder="team name">

                                                        <div class="input-group-btn">
                                                            <button ng-click="addTeamDialog=false;"
                                                                    class="fui-cross btn btn-default"></button>
                                                            <button ng-click="addTeam(); addTeamDialog=false;"
                                                                    class="fui-plus btn btn-default" ng-disabled="!newTeam"></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li ng-repeat="team in preferences.teams | filter:{removed:'!'+true}">
                                        <div class="row">
                                            <div class="col-xs-11">{{team.name}}</div>
                                            <div class="col-xs-1">
                                                <span class="fui-cross-inverted" ng-click="team.removed=true"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <a href="#" class="btn btn-default btn-wide" ng-click="cancel()">Cancel</a>

                            <a href="#" class="btn btn-wide btn-primary"
                               ng-click="save();">Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </li>
</script>
