@(token: Token, tokenPictureForm: Form[String])(implicit flash: Flash, request: Request[AnyContent])

@import java.text.SimpleDateFormat

@import helper._


@main(token.name, "token") {

<script src='@routes.Assets.at("javascripts/tokenpreferences.js")' type="text/javascript"></script>

@partial_modalTokenPreferences()

<div class="page-header"></div>


<div class="row" ng-init="
                    username='@request.session.get("username")';
token.claimedBy='@token.claimedBy';
token.applicants= [
@if(token.sortedApplicants.size > 0) {
@token.sortedApplicants.map{applicant =>
@{Html("'") += Html(applicant.applicantName) += Html("'")}
}.reduceLeft((e1, e2) => e1 += Html(", ") += e2)
}
];
token.picurl='@token.picurl';
token.claimTime='@token.claimTime';
token.remembered='@{token.associatedUsers.exists((u) => request.session.get("username").getOrElse("") == u.id)}';


@if(!token.claimedByTeam.equals(None)) {
    token.claimedByTeam.name='@token.claimedByTeam.get.name';

    token.claimedByTeam.members=[

            @for((member, index) <- token.claimedByTeam.get.members.zipWithIndex) {
                { 'id' : '@member.id' }
                @if(index != token.claimedByTeam.get.members.size-1) {
                    ,
                }
            }
];
}


">


<div class="col-md-6 no-padding-on-phone">


    <div class="sidebar"  ng-controller="TokenChatCtrl">
        <!-- <div class="sidebar-top">
             bla bla
         </div>-->
        <ul class="">
            <li class="sidebar-todo first-child sticky-on-phone" ng-hide="token.claimedBy" onclick="claimToken()">
                <div class="sidebar-icon glyphicon glyphicon-record" style="min-height: 60px"></div>
                <div class="sidebar-content">
                    <h4 class="sidebar-name">
                        Claim
                    </h4>
                    Token is unclaimed at the moment
                </div>
            </li>

            <li class="sidebar-todo first-child sticky-on-phone" ng-hide="!token.claimedBy || ( token.claimedBy != username  && !userIsMemberOfTeam(username, token.claimedByTeam))" onclick="releaseToken()" >
            <div class="sidebar-icon glyphicon glyphicon-record" style="min-height: 60px"></div>
            <div class="sidebar-content">
                <h4 class="sidebar-name">
                    Release
                </h4>
                This token is claimed by <span ng-show="token.claimedBy == username">you</span><span ng-show="token.claimedBy != username">your team</span>.
            </div>
            </li>



            <li class="sidebar-todo first-child sticky-on-phone" ng-hide="
                            !token.claimedBy
                            || token.claimedBy == '@request.session.get("username").getOrElse("")'
                            || token.applicants.indexOf(username) >= 0
                            || userIsMemberOfTeam(username, token.claimedByTeam)" onclick="enqueueForToken()" >
            <div class="sidebar-icon glyphicon glyphicon-eye-open" style="min-height: 60px"></div>
            <h4 class="sidebar-name">Enqueue</h4>
            This token is claimed by {{token.claimedBy}}
            </li>

            <li class="sidebar-todo first-child sticky-on-phone"
                ng-hide="!token.claimedBy || token.applicants.indexOf(username) == -1" onclick="leaveTokenQueue()">
                <div class="sidebar-icon glyphicon glyphicon-eye-close" style="min-height: 60px"></div>
                <div>
                    <h4 class="sidebar-name">Leave queue</h4>
                    This token is claimed by {{token.claimedBy}}
                </div>
            </li>


            <li class="last-child">

                <div class="sidebar-content" style="margin-right: -42px;">
                    <h4 class="sidebar-name">
                        Conversation
                    </h4>

                    <div class="animate-hide coloredscrollbar some-right-padding-on-phone"
                         ng-init="chat = {lines : [], tokenBaseUrl : '/tokenEvents/@token.id/' }" ng-hide="showChat==0"
                         style="margin-top: 10px; margin-right: -40px; padding-right:40px;">
                        <form onsubmit="sendChatLine(); return false;" class="form-inline">
                            <div id="chatMessageList">
                                <ul class="chatList" scroll-if>
                                    <li style="margin-left:-22px" ng-repeat="chatMessage in chat.lines" scroll-item>
                                        <div class="popover right" style="display:block;position: relative; max-width: 1000px; padding-bottom: 8px; margin-left: 0">
                                            <div class="popover-title" style="padding:0">
                                                <img height=50 style="margin-right: 5px; border-top-left-radius: 6px;" ng-src="{{chatMessage.avatar}}" title="{{chatMessage.sender}}">
                                                {{chatMessage.timeStamp | date:'MMM dd, yyyy - HH:mm'}}
                                            </div>

                                            <div class="popover-content"
                                                 style="word-wrap:break-word;word-break: break-all;">
                                                {{chatMessage.message}}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div id="push"></div>
                            </div>

                            <script>
                                var sendingChatLine = 0;
                                function sendChatLine() {
                                    if (sendingChatLine == 0) {
                                        sendingChatLine = 1;
                                        $.ajax({
                                            type: "POST",
                                            url: "@routes.Comet.chatSay(token.id)",
                                            data: { "message": $("#chatLine").val()},
                                            dataType: "json",
                                            success: function () {
                                                sendingChatLine = 0;
                                            },
                                            error: function () {
                                                sendingChatLine = 0;
                                            }
                                        });
                                        $("#chatLine").val("");
                                    }
                                }
                            </script>

                            <div id="chatInput" class="input-group bottom-on-phone"
                                 style="margin-top: 10px; margin-right: 21px;">
                                <input type="text" name="message" id="chatLine" class="form-control" autocomplete="off"
                                       placeholder="write a comment" onsubmit="sendChatLine()">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-wide btn-primary">send</button>
                                </div>
                                <div class="some-vertical-space-on-phone"></div>
                            </div>

                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>


</div>


<div class="col-md-6">

    <div class="well tokenView">

        <div class="iconbar" style="float: right">
            <ul>
                <li>
                    <a href="#fakelink" class="fui-heart remembered" ng-class="{'switch-on': token.remembered}"
                       onclick="this.classList.contains('switch-on') ? forgetToken() : rememberToken()">
                        <span class="iconbar-unread" ng-hide="token.remembered">!</span>
                    </a>
                </li>

                <!-- token preferences button -->

                <preferences-dialog-button
                        ng-hide="token.claimedBy != '@request.session.get("username").getOrElse("")'"

                   preferences-get-url="@routes.JSONApplication.getTokenPreferences(token.id)"
                   preferences-set-url="@routes.JSONApplication.setTokenPreferences(token.id)">
                    <a class="fui-gear"></a>

                </preferences-dialog-button>


                {{preferencesVisible}}

            </ul>
        </div>


        <h1>@token.name</h1>



        <p ng-hide="token.claimedBy">not claimed at the moment</p>
        <p ng-show="token.claimedBy">claimed by {{token.claimedBy}} <span ng-show="token.claimedByTeam">of team {{token.claimedByTeam.name}}</span> since {{token.claimTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>

        <p ng-hide="token.applicants.length == 0">
            next in line: {{token.applicants[0]}}
        </p>

        <p ng-hide="token.applicants.length == 0">{{token.applicants.length}} waiting</p>

        <div>
            <img ng-hide="!token.picurl" ng-src="{{token.picurl}}" class="tokenimage"/>
        </div>


    </div>

    <script>
        function post(url, data) {
            $.ajax({
                type: "POST",
                url: url,
                processData: false,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
//            location.reload();
        }
        function claimToken() {
            post("@routes.JSONApplication.claimToken(token.id)", {});
        }
        function releaseToken() {
            post("@routes.JSONApplication.releaseToken(token.id)", {});
        }
        function rememberToken() {
            post("@routes.JSONApplication.rememberToken(token.id)", {});
        }
        function forgetToken() {
            post("@routes.JSONApplication.forgetToken(token.id)", {});
        }
        function configureToken() {

        }
        function leaveTokenQueue() {
            post("@routes.JSONApplication.deenqueueForToken(token.id)", {});
        }
        function enqueueForToken() {
            post("@routes.JSONApplication.enqueueForToken(token.id)", {});
        }

    </script>

</div>
</div>

}
